* {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container_navbar3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_navbar3 > .div_logo > img {
    width: 70px;
}