* {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* Container Principal */
.container_conhecimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #EDEDED;
    width: auto;
    margin: 50px 8% 50px 8%;
    padding: 80px 7% 0 7%;
    border-radius: 30px;
}

.container_conhecimentos > .title_container_conhecimentos {
    color: #61CCB9;
    font-size: 1.5em;
    margin: 10px 0 50px 0;
    font-weight: bold;
}

    /* div_ind_conhecimentos */
    .div_ind_conhecimento {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
    }

        /* div_about */
        .div_ind_conhecimento > .div_about {
            flex: 1;
        }

        .div_ind_conhecimento > .div_about > .title_conhecimento {
            color: black;
            font-weight: bold;
            font-size: 1.3em;
        }

        .div_ind_conhecimento > .div_about > .icons_conhecimento {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .div_ind_conhecimento > .div_about > .icons_conhecimento > img {
            width: 70px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .div_ind_conhecimento > .div_about > .icons_conhecimento > .bootstrap_icon,
        .div_ind_conhecimento > .div_about > .icons_conhecimento > .react_icon {
            width: 55px;
            margin-left: 7px;
            margin-right: 7px;
        }

        .div_ind_conhecimento > .div_about > .text_conhecimento {
            max-width: 350px;
            display: inline-block;
            font-size: 1.3em;
            font-weight: 300;
        }
    
        /* div_ilustration */
        .div_ind_conhecimento > .div_ilustration {
            flex: 1;
        }
        .div_ind_conhecimento > .div_ilustration > img{
            max-width: 300px;
            margin: 30px;
        }




/* -------- midia queries -------- */
@media (max-width: 992px) {
    .div_ind_conhecimento {
        flex-direction: column;
    }

    .div_ind_conhecimento > .div_ilustration > img {
        max-width: 200px;
        margin: 45px 0 45px 0;
    }
}